table {
	border: 1px solid black;
}

tr {
	background: solid black;
}

td {
	border: 1px solid black;
	width: 60px;
	height: 64px;
	padding: 0px;
	padding-left: 8px;
	text-align: center;
	align-content: center;
}

.white {
	background: white;
}

.green {
	background: green;
}

.empty {
}

.empty-piece {
	color: white;
}

/*Normal Pieces:*/
.red-piece {
	border-radius: 50%;
	width: 52px;
	height: 52px;
	background: red;
	color: black;
	font-weight: bold;
}

.black-piece {
	border-radius: 50%;
	width: 52px;
	height: 52px;
	background: black;
	color: red;
}

.prom-red-piece {
	border-radius: 50%;
	width: 52px;
	height: 52px;
	background: darkred;
	color: black;
	font-weight: bold;
}

.prom-black-piece {
	border-radius: 50%;
	width: 52px;
	height: 52px;
	background: darkslategray;
	color: red;
}

/*Marked Pieces*/
.red-piece-marked {
	border-radius: 50%;
	width: 42px;
	height: 42px;
	background: red;
	margin-left: 5px;
	color: black;
	font-weight: bold;
}

.black-piece-marked {
	border-radius: 50%;
	width: 42px;
	height: 42px;
	background: black;
	margin-left: 5px;
	color: red;
}

.prom-red-piece-marked {
	border-radius: 50%;
	width: 42px;
	height: 42px;
	background: darkred;
	margin-left: 5px;
	color: black;
	font-weight: bold;
}

.prom-black-piece-marked {
	border-radius: 50%;
	width: 42px;
	height: 42px;
	background: darkslategray;
	margin-left: 5px;
	color: red;
}
