html,
body {
    /*background-color: lightgrey;*/
    height: 100%;
    /*padding-left: 50px;*/
background: rgb(206,220,231);
background: -moz-linear-gradient(top, rgba(206,220,231,1) 0%, rgba(89,106,114,1) 100%);
background: -webkit-linear-gradient(top, rgba(206,220,231,1) 0%,rgba(89,106,114,1) 100%);
background: linear-gradient(to bottom, rgba(206,220,231,1) 0%,rgba(89,106,114,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cedce7', endColorstr='#596a72',GradientType=0 );
}

html {
    display: table;
    margin: auto;
}

body {
    display: table-cell;
    vertical-align: middle;
}

#footer {
    height: 100px;
}

h1 {
    text-align: center;
}

tbody.app-state {
	text-align: center;
	align-content: center;
    vertical-align: bottom;
}

th.user-is-allowed-to-move-message {
	color: #006600;
    font-weight: bold;
    font-size: 18px;
}

th.user-is-disallowed-to-move-message {
	color: #990033;
    font-weight: bold;
    font-size: 18px;
}

span.mouse-clicks {
    color: #cc0000;
    font-size: 20px;
}
span.captured-pieces {
    color: #cc0000;
    font-size: 20px;
}
